body .piece p, body .piece_reverse p,  footer p, p{ 
    font-weight: 350;
    font-family: "Roboto", sans-serif;
    margin: 2% 1%;
}


  

h4 {


    font-size: 90%;
  opacity: 90%;
  margin: 0 1%;
    margin-top: 0px;
  margin-top: 4%;
  color: rgb(86, 86, 86);
  font-style: oblique;
}

h3 {
    font-family: "Metrophobic", sans-serif;
    margin: 0 1%;
  font-size: 140%;
  font-variation-settings: "wdth" 80;
}

h2 a {
    font-size: 95%;
    font-weight: 600;

}

h1 {
    font-family: "Metrophobic", sans-serif;
  
    font-style: italic;

}

footer p {
    font-style: italic;


}