footer {footer {flex-wrap: wrap;}
    }

body footer .icon  {    width: 1em;
    /* flex: 1; */
    height: 1em;

background-color: white;
max-width: unset;}

body footer p {margin: 0 3%;
    max-width: unset;
    flex: 0.5;
    margin-top: 0.5em;

}

.footer_bits {  
    align-content:end;
    flex-direction: row;
    display: flex;
    flex-shrink: 0;
    max-width: 20em;
    margin: 0 2%;
    min-width: 5em;

}

 #different  {width: 5em;
display: none;}

footer > img  {
    width: 3em;

}
footer {
    height: none
    ;
    flex-wrap: wrap;
} 




@media only screen and (min-width: 600px) {

    body footer .icon  {    width: 2em;
        /* flex: 1; */
        height: 2em;
    }
    .footer_bits {
    min-width: none;
    min-width: 7em;
    }
    
    footer img {
        
        max-width: 3%;
    }
}