body {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 150%;
position: relative;
width: 100vw;
overflow-x: hidden;

}

body p {
margin: 0 1%;

}

body {
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
  "wdth" 100;
}
.man p , .man2 p {max-width: 20em;}


h2 {
font-size: 110%;

}

body  h3, 
body .piece_reverse h3 {
    margin:0  1%;
    font-size: 120%;
   
}

body h4,
body .piece_reverse h4 {     
    font-size: 90%;
    opacity: 90%;
    margin:0  1%;
    margin-top: 4%; 
    color: rgb(86, 86, 86);   
}











a {
    margin-top: 2em;
font-size: 85%;
}



.nav_directions {
    display: none;


}

nav {flex: 0.5;    }
nav img {width: 70%;}



.menu .hidden {

display: none;

justify-content: flex-start;

}

.menu .showing {
padding-top: 30%;
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: black;
width: 150%;
height: 600%;
position: absolute;
top: -20%;

rotate: -6.5deg;
}

.menu .showing ul {

}

.menu .showing li:first-of-type {
    margin-top: 4em;
    position: absolute;
    max-width: 10%;
    right: 9em;
    top:-12%;
    


}
.menu .showing li {
    text-align: left;
    margin-left: 3em;
    padding: 2% 0;
    font-size: 150%;
}

.menu_desktop 
{display: none;}





header {




    background-color: black;


    margin-top: 5%;



    display: flex;

    padding-bottom: 2%;

    flex-direction: row;



    position: relative;



    padding-left: 5%;



    align-items: center;



    margin-bottom: 3%;





    rotate: 6.5deg;



}




#box1 {
    background-color: black;
    width: 130%;
    height: 130%;
    position:absolute;
    top: -10%;
    left: -10%;
    z-index: -1;

}
#box2 {background-color: black;
    width: 130%;
    height: 100%;
    position:absolute;
    top: 10%;
    left: -10%;
    z-index: -1;

}





#name {
margin-left: 0%;
flex: 2;
margin-left: 5em;
margin-right: 3em;

}

#name2 {
    flex: 0.7;
display: none;
margin-left: 0%;
flex: 2;
margin-left: 5em;
margin-right: 3em;

}

  .pearl img  {
    max-height: 70em;

    }

    .man, .man2 {
    display: flex;
    flex-direction: column;
    margin: auto;

    }
    .man img, .man2 img { max-height: 40em;
    margin: 0.2em;
    max-width: 20em;
    
    }

figure img {  margin:0  1%;}

section {

    margin-bottom: -3em;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  

}

.text {display: flex;
flex-direction: row;}

.column1 {

flex: 1;
padding: 1%;
display: flex;
flex-wrap: wrap;
flex-direction: column;}


.column2 {
flex: 1;
margin-top: 4em;
padding: 1%;
display: flex;
flex-wrap: wrap;
flex-direction: column;}




.piece { 
display: flex;
flex-direction: column;
z-index: -2;
padding-bottom: 2%;
max-width: 20em;

}

.piece p {
flex: 1;

margin-bottom: 2em;
}

figure { 
margin: 0%;

}

.asset {
display: none;

}

.piece_reverse {
display: block;
flex-direction: column;
z-index: -2;
padding-bottom: 2%;
flex: 1;
max-width: 20em;
}

.piece_reverse p {
    font-size: 16pt;

}



.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-row: span 2 / span 2;
}

.div2 {
    grid-row: span 3 / span 3;
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div4 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.div5 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
}

.div6 {
    grid-column-start: 2;
    grid-row-start: 4;
}
        


footer {
    margin-top: 6em;
color: white        ;
padding: 3% 0;

display: flex;
flex-wrap: wrap;

rotate: 6.5deg;

height: 7%;

}


footer p{
    margin: 0;
    font-size: 4vw;
    max-width: 10em;
}



footer img {
width: 10%;
margin-top: .3em;

}

.text {
    flex-wrap: wrap;
    }



@media only screen and (min-width: 600px) {
    body {
               display: flex;
               flex-direction: column;
    }
.text {
       flex-wrap: unset;
    flex-direction: row;
}
    .text p {
        width: 20em;
      min-width: 12em;
    flex: 1;
}

    .menu 
    { display: none;

} 
    .hidden {
        display: none;
    }
    .showing
    {display: none;}
    .menu_desktop {
        display: flex;
    
        justify-content: space-evenly;

    }
        
    nav {
    margin: 0 1em;
    width: 30em; 

    }   

    section {
        max-width: 1400px;
        flex-direction: column;
    }

    .man, .man2 {
    
    display: flex;
    flex-direction: row;
    height: 15em;
    margin: auto;
    }
    .man img, .man2 img {
    margin: 0.2em;
    
    }

    .column1 {
     

    flex: 1;
    padding: unset;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;}


    .column2 {flex: 1;
    margin-top: 0;
    padding: unset;
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;}

figure img { 
    margin: 0%;

    }

        .piece {
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    

    
    }


    
    .piece img ,.piece_reverse img{

    }
            .piece_reverse {
                

    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
            
    
    }

    .piece_reverse p, .piece p {
        font-size: 17pt;
    }

    


    #box1 {
        height: 9em;
        top: -0%;
    }

    .nav_directions {
        
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        font-size: 3lvw;
    }


    #name {
        display: none;
    }   
    
    #name2 {
        flex: 0.5;
        display: flex;
        margin: 0;
    } 

    #name2 img {
        margin: 0;
        
    }

    header {
        margin-bottom: 3em;
        justify-content: space-between;
        margin-top: 5%;

        display: flex;

        flex-direction: row-reverse;

        position: relative;

        padding-left: 5%;

        align-items: center;

        margin-bottom: 6%;

        height: 10em;

        rotate: 3deg;

    }

    .options {
      display: none;

    }
    


    footer {
        justify-content: start;
        rotate: 3deg;
        font-size: 70%;    
    }
    footer img {
        display: inline;
        margin-left: 3%;
        max-width: 5%;}
    footer p {
        margin-left: 3%;

    }



footer p {font-size: 1.2em;
}


}

header img {object-fit: fill;
    margin-top: 1em;
}
header img:first-of-type {object-fit: fill;
    margin-top: 1em;
    width: 30em;
}








/*  link styling  */
 
    nav a:link {
        text-decoration: none;
          font-style: normal;
          color: rgb(255, 255, 255);
        }
        
        /* visited link */
        nav a:visited {
          color: rgb(255, 255, 255);
        }
        
        /* mouse over link */
        nav a:hover {
          color: lightgrey;
        }
        
        /* selected link */
        nav a:active {
          color: grey;
        }

    header img {object-fit: fill;
        margin-top: 1em;
 
    }


  























/* resets dont look */













h1, h2, h3, p, nav ul {



 margin: 0;



 padding: 0;



/* this removes default margin/padding 



 from these elements. You might want to add



 a few others in here.*/



}



img {



 display: block;



 max-width: 100%;



 height: auto;



/* this sets images as block elements



 and makes sure they don't bust out of 



 their containers, and that they maintain



 their aspect ratio. */



}



nav ul {



 list-style-type: none;



/* gets rid of bullets */



}



/* You *might* want to convert all elements



to box-sizing: border box */



* {



 box-sizing: border-box;



}