body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 150%;
    position: relative;
    width: 100vw;
overflow-x: hidden;
}

body .piece_reverse {    
margin: 0 1%;


}
h2 {
    font-size: 110%;
    
    }
    
    body  h3, 
    body h3 {
        margin:0  1%;
        font-size: 120%;
       
    }
    
    body h4,
    body h4 {     
        font-size: 90%;
        opacity: 90%;
        margin:0  1%;
        margin-top: 4%; 
        color: rgb(86, 86, 86);   
    }



.nav_directions {
    display: none;
}

nav {flex: 0.5;    }
nav img {width: 70%;}



.menu .hidden {

display: none;

justify-content: flex-start;

}
.menu .showing {
padding-top: 30%;
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: black;
width: 150%;
height: 600%;
position: absolute;
top: -20%;

rotate: -6.5deg;
}

.menu .showing ul {

}

.menu .showing li:first-of-type {
    margin-top: 4em;
    position: absolute;
    max-width: 10%;
    right: 9em;
    top:-12%;
    


}
    
    
    
    .menu .showing li {
        text-align: left;
        margin-left: 3em;
        padding: 2% 0;
        font-size: 150%;
    }
.menu_desktop 
{display: none;}


 
a {
    margin-top: 2em;
font-size: 85%;
}








header {





    margin-top: 5%;



    display: flex;


  padding-bottom: 2%;
    flex-direction: row;



    position: relative;



    padding-left: 5%;



    align-items: center;



    margin-bottom: 3%;





    rotate: 6.5deg;



}



#box1 {
    background-color: black;

    width: 130%;

    height: 130%;

    position:absolute;

    top: -10%;

    left: -10%;



    z-index: -1;

}
#box2 {
    background-color: black;

    width: 130%;

    height: 100%;

    position:absolute;

    top: 10%;

    left: -10%;



    z-index: -1;

}





#name {

margin-left: 0%;

flex: 2;

margin-left: 5em;

margin-right: 3em;

}

#name2 {
    flex: 0.7;
display: none;
margin-left: 0%;

flex: 2;

margin-left: 5em;

margin-right: 3em;

}





body {margin: 0 1%;}


section {

    margin-bottom: 10em;


}

.column1 {

    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
}


.column2 {
 

    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
}




.piece { 
display: flex;
flex-direction: column;
z-index: -2;
padding-bottom: 2%;


}

.piece p {
font-size: 100%;

margin: 0 1%;
}


.piece_reverse p {
font-size: 100%;
margin: 0 1%;
}

figure { 
margin: 0%;
margin: 0 1%;
}

.asset {
display: none;

}

.piece_reverse {
display: flex;
flex-direction: column;
z-index: -2;
padding-bottom: 2%;

}
/*
.piece_reverse article {
width: 40%;

}
*/

footer {
    color: white;
    margin-top: 6em;

padding: 3% 0;

display: flex;

justify-content: space-evenly;

rotate: 6.5deg;

height: 7%;

}

footer img {
   width: 10%;
}

footer p{
    font-size: 4vw;
    max-width: 10em;
    margin: 0;
}



footer img {
width: 10%;
margin-top: .3em;

}




@media only screen and (min-width: 600px) {
    

    .menu 
    { display: none;

} 
    .hidden {
        display: none;
    }
    .showing
    {display: none;}
    .menu_desktop {
        display: flex;
         display: flex;
        justify-content: space-evenly;

    }
        
    nav {
        margin: 0 1em;
       
        width: 30em;
        
    }   

    section {

    margin-bottom: 10em;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    }

    .column1 {

    max-width: 20000px;
     
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
}


.column2 {
    margin-top: 3%;
    max-width: 20000px;
    
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: auto;
}


    .piece {
    padding: 0.25em;
    display: flex;
    flex-direction: row;
    justify-content: end;
   align-items: end;
   
    
    }

    .piece_reverse {
    padding: 0.25em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
   align-items: start;
   
    
    }
    


    figure {
        flex: 4;
  max-width: 60em;
  margin-left: auto;

    }

    img {
        display: block;
        width: 100%;
    }

    article {
        font-size: 100%;
        flex: 3;
        
    }
    #box1 {
        height: 9em;
        top: -0%;
    }

    .nav_directions {
        
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        font-size: 3lvw;
    }


    #name {
        display: none;
    }   
    
    #name2 {
        flex: 0.5;
        display: flex;
        margin: 0;
    } 

    #name2 img {
        margin: 0;
        
    }

    header {


        justify-content: space-between;
        margin-top: 5%;

        display: flex;

        flex-direction: row-reverse;

        position: relative;

        padding-left: 5%;

        align-items: center;

        margin-bottom: 3%;

        height: 10em;

        rotate: 3deg;

    }

    .options {
      display: none;

    }
    



    footer {

        justify-content: start;
        rotate: 3deg;
        font-size: 70%;    
    }
    footer img {
        margin-left: 3%;
        max-width: 5%;}
    footer p {
        margin-left: 3%;

    }



footer p {font-size: 1.2em;


}
}







/*  link styling  */
 
    nav a:link {
        text-decoration: none;
          font-style: normal;
          color: rgb(255, 255, 255);
        }
        
        /* visited link */
        nav a:visited {
          color: rgb(255, 255, 255);
        }
        
        /* mouse over link */
        nav a:hover {
          color: lightgrey;
        }
        
        /* selected link */
        nav a:active {
          color: grey;
        }

    header img {object-fit: fill;
        margin-top: 1em;
   
    }

    header img:first-of-type {object-fit: fill;
        margin-top: 1em;
        width: 30em;
    }

























/* resets dont look */













h1, h2, h3, p, nav ul {



 margin: 0;



 padding: 0;



/* this removes default margin/padding 



 from these elements. You might want to add



 a few others in here.*/



}



img {



 display: block;



 max-width: 100%;



 height: auto;



/* this sets images as block elements



 and makes sure they don't bust out of 



 their containers, and that they maintain



 their aspect ratio. */



}



nav ul {



 list-style-type: none;



/* gets rid of bullets */



}



/* You *might* want to convert all elements



to box-sizing: border box */



* {



 box-sizing: border-box;



}